//CORES
$cor_principal: tomato;
$cor_principal_: #31ff22;

//Tamanho pre definido dos Media Queries
$celular_576: 576px;
$tablet_medio_768: 768px;
$tablet_grande_992: 992px;
$desktop_1140: 1140px;
$desktop_1300: 1200px;
$mac_desktop: 1920px;

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}


//Media Queries
@mixin responsivo($size) {

  //Legenda
  // m_ ==> tamanhho minimo
  // ma_ ==> tamanho máximo

  @if $size==xl {
    @media screen and(min-width: #{$desktop_1140}) {
      @content
    }
  }

  @else if $size==xxl {
    @media screen and(min-width: #{$desktop_1300}) {
      @content
    }
  }

  @else if $size==md {
    @media screen and(min-width: #{$tablet_medio_768}) {
      @content
    }
  }

  @else if $size==lg {
    @media screen and(min-width: #{$tablet_grande_992}) {
      @content
    }
  }

  @else if $size==xg {
    @media screen and(min-width: #{$mac_desktop}) {
      @content
    }
  }

  @else if $size==sm {
    @media screen and(min-width: #{$celular_576}) {
      @content
    }
  }
}

// Novecento-Slab-Bold
@font-face {
  font-family: Novecento-Slab-Bold;
  src: url(../font/Novecento-Slab-Bold.woff);
}

@mixin fonte_principal {
  font-family: Novecento-Slab-Bold;
}

// Gotham-Bold
@font-face {
  font-family: Gotham-Bold;
  src: url(../font/Gotham-Bold.woff);
}

@mixin fonte_principal_ {
  font-family: Gotham-Bold;
}

// Gotham-Book
@font-face {
  font-family: Gotham-Book;
  src: url(../font/Gotham-Book.woff);
}

@mixin fonte_principal__ {
  font-family: Gotham-Book;
}


h1 {
  @include fonte_principal;
  font-size: 1.9rem;

  @include responsivo(lg) {
    font-size: 1.4rem;
  }
}

h2 {
  @include fonte_principal_;
  font-size: 1rem;
}


p {
  @include fonte_principal__;
}


//Mixin para alinhar conteudo ao centro
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Remover Padding dos col do boostrap
.no-gutters {
  padding: 0;
}

.container {
  max-width: 95%;
  margin: 0 auto;

  @include responsivo(md) {
    max-width: 800px;
  }

  @include responsivo(lg) {
    max-width: 998px;
  }

  @include responsivo(xxl) {
    max-width: 1400px;
  }

}

.form-control {
  &:focus {
    border-color: $cor_principal_;
    box-shadow: none;
  }
}
