//CORES



$cor_principal: tomato;
$cor_principal_: #31ff22;


//Tamanho pre definido dos Media Queries
$celular_576: 576px;
$tablet_medio_768: 768px;
$tablet_grande_992: 992px;
$desktop_1140: 1140px;
$desktop_1300: 1300px;


//Media Queries
@mixin responsivo($size) {

  //Legenda
  // m_ ==> tamanhho minimo
  // ma_ ==> tamanho máximo

  @if $size == m_desktop {
    @media screen and(min-width: #{$desktop_1140}) {
      @content
    }
  }  @else if $size == ma_desktop {
    @media screen and(min-width: #{$desktop_1140}) {
      @content
    }
  } @else if $size ==  m_desktop_1300 {
    @media screen and(max-width: #{$desktop_1300}) {
      @content
    }
  } @else if $size == m_tab_p {
    @media screen and(min-width: #{$tablet_medio_768}) {
      @content
    }
  } @else if $size == ma_tab_p {
    @media screen and(max-width: #{$tablet_medio_768}) {
      @content
    }
  } @else if $size == m_tab_g {
    @media screen and(min-width: #{$tablet_grande_992}) {
      @content
    }
  } @else if $size == ma_tab_g {
    @media screen and(max-width: #{$tablet_grande_992}) {
      @content
    }
  } @else if $size == m_cel {
    @media screen and(min-width: #{$celular_576}) {
      @content
    }
  } @else if $size == ma_cel {
    @media screen and(max-width: #{$celular_576}) {
      @content
    }
  }
}

//fonts que será usada no site

//font 1
@font-face {
  font-family: fonte_principal;
  src: url(../font/OpenSans-Bold.woff);
}
@mixin fonte_principal{
  font-family: fonte_principal;
}


//font 2
@font-face {
  font-family: fonte_principal_;
  src: url(../font/OpenSans-Regular.woff);
}
@mixin fonte_principal_{
  font-family: fonte_principal_;
}


//Mixin para alinhar conteudo ao centro
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Container usado no site
.container{
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;

  @include responsivo(m_cel) {
    padding: 0 15px;
  }

  @include responsivo(m_tab_p){
    max-width: 650px;
  }

  @include responsivo(m_tab_g){
    max-width: 850px;
  }

  @include responsivo(m_desktop){
    max-width: 950px;
  }

  @include responsivo(m_desktop_1300){
    max-width: 1250px;
  }
}
//Remover Padding dos col do boostrap
.no-gutters {
  padding: 0;
}
